.board-filters {
  margin: 40px 0 42px;
  .filter-button {
    height: 40px;
    margin-right: 12px;
    padding: 10px 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    color: #787486;
    border: 1px solid #787486;
    background-color: transparent;

    @media (max-width: 710px) {
      height: 30px;
      font-size: 12px;
      padding: 0;
    }

    > img {
      &:first-of-type {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 17px;

        @media (max-width: 710px) {
          margin: 0 8px;
        }
      }
      &:last-of-type {
        width: 11.56px;
        height: 5.3px;
        margin: 0 22px 0 12px;
        @media (max-width: 710px) {
          margin: 0 8px;
        }
      }
    }
  }
  .share-button {
    height: 40px;
    margin-right: 12px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    color: #787486;
    border: 1px solid #787486;
    background-color: transparent;

    @media (max-width: 710px) {
      height: 30px;
      font-size: 12px;
      padding: 0 10px 0 0;
      margin-right: 6px;
    }

    img {
      margin-right: 10px;
      width: 16px;
      height: 16px;

      @media (max-width: 710px) {
        margin: 0 10px;
      }
    }

    @media (max-width: 450px) {
      display: none;
    }
  }
  .filter-right-content {
    padding-right: 15px;
    margin-right: 20px;
    border-right: 1px solid #787486;
  }
  .filter-icons {
    img {
      cursor: pointer;
      border-radius: 6px;
      &:first-child {
        height: 40px;
        width: 40px;
        padding: 10px;
        background: #5030e5;
        margin-right: 25px;
        @media (max-width: 710px) {
          height: 30px;
          width: 30px;
          padding: 5px;
        }
        @media (max-width: 560px) {
          margin-right: 15px;
        }
      }
    }
  }
}
